*{
padding: 0;
margin: 0;
font-family: 'poppins',sans-serif;
box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.mainContainer{
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(to bottom left, #33ccff 0%, #0066cc 100%);
}

nav{
    height: 10vh;
    background: #161A42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    color: #fff;
    width: 100%;
}

.logo {
    border: 3px solid #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.logo h3{
    font-size: 1.5rem;
}
.nav_item{
    /* border: 1px solid #fff; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}
.nav_item a{
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: ease-in 0.2s;
}
.nav_item a:hover{
    border-bottom: 2px solid #fff;
    transition: ease-out 0.2s;
}


/*------------> Responsive navbar<------------ */
nav h1{
    display: none;
  }

  .mobileMenu{
    /* display: none; */
    border: 2px solid #fff;
    background: #161A42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.mobileMenu a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    height: 35px;
    border-radius: 5px;
    padding: 10px 0;
    border: 2px solid #fff;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
a.last{
  margin-bottom: 30px;
}
.mobileMenu{
    display: none;
}

/* ---------------> Welcome text Animation <-------------- */
.welcomeAnimation{
    /* border: 1px solid #fff; */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* border-bottom: 3px solid #fff; */
}
.welcomeAnimation h1 span{
    font-size: 5rem;
}

hr{
    width: 98%;
    margin: 0 auto;
}


/* -----------> subject section <------------------ */


.sub_section{
    /* border: 2px solid #fff; */
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
}

.sub{
    margin-top: 50px;
    display: flex;
    max-width: 33%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 3px #000;
}


.sub h3{
    width: 100%;
    padding: 10px 0;
    background: #161A42;
    color: #fff;
    text-align: center;
}
.sub img{
    width: 100%;
}
.sub a{
    width: 100%;
    height: 50px;
}
.sub button{
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    height: 100%;
}
.sub_section.end{
    margin-bottom: 150px;
}


/*-----------------> AI useful section link  <----------------------- */

.ml6{
    /* border: 1px solid #fff; */
    text-align: center;
    color: #fff;
    margin-top: 10px;
}


.AI{
    background: #fff;
    width: 90%;
    margin:  auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 80px;

}

.header h1{
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background: #161A42;
}
.section1{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.section1 a{
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f82f5;
    color: #fff;
    border-radius: 5px;
}

.ml10{
    color: #fff;
    text-align: center;
}

.timeTable{
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    background: #fff;
    width: 90%;
    margin-top: 50px;
    border: none;
}
table th{
    background: #000;
    color: #fff;
    height: 80px;
}

table tr{
    border: 3px solid #bbbbbb;
    height: 60px;
    text-align: center;
    font-size: 18px;
}

/* --------->Footer Section <--------------- */

footer{
    margin-top: 150px;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one{
    font-size: 50px;
    width: 60%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
.one i{
    cursor: pointer;
}
.two {
    /* border: 1px solid #fff; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.two a{
    text-decoration: underline;
    font-size: 30px;
    color: #fff;

}
.three{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}

.letters{
  font-size: 40px;
}



/* mobile btn */
.mobBtn{
  /* border: 2px solid #fff; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  display: none;
}
.mobBtn button {
    width: 350px;
    height: 55px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #161A42;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.mobBtn button a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 200px;
    border: 1px solid #fff;
}

table{
  display: none;
}







/* ----------> Code for small device <----------- */
@media screen and (max-width: 600px) {
  nav .nav_item a{
     display: none;
  }
  nav h1{
    font-size: 30px;
    display: block;
  }

  #typing-text{
    font-size: 16px;
  }
  .mobileMenu{
    display: none;
  }
  .welcomeAnimation {
    height: 32vh;
  }
  .welcomeAnimation h1 span{
    font-size: 2.3rem;
    font-weight: 900;
  }
  
  .sub{
    max-width: 30%;

  }
  .sub h3{
     font-size: 12px;
     font-weight: bold;
  }
  .sub a{
    height: 40px;
  }
  .sub button{
    font-size: 12px;
    font-weight: bold;

  }
  .sub_section{
    /* border: 1px solid #fff; */
    padding: 5px 2px;
  }

  .sub_section.end{
    margin-bottom: 50px;
  }

  .letters{
    font-size: 35px;
  }
  .AI{
    width: 98%;
  }
  .header h1{
    font-size: 25px;
  }
  
  .section1{
    flex-direction: column;
    height: 100%;
    border: none;
  }
  .section1 a{
    width: 90%;
    margin: 15px;
    font-weight: bold;
    height: 45px;
  }
   
  table{
    display: none;
  }

  footer{
    margin-top: 50px;
    /* display: none; */
  }
  .one{
    font-size: 30px;
    width: 90%;
  }
  .one i{
    margin: 0 10px;
  }
  .two{
    width: 90%;
  }
  .two a{
    font-size: 16px;
  }
  .three{
    font-size: 16px;
    width: 99%;
  }
  .three span{
    color: red;
  }
  .mobBtn{
    width: 100%;
    display: flex;
  }

}